<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력 페이지</h1>
    <hr>
    <form method="post">
        <fieldset>
            <legend>입력 데이터</legend>
            <table>
                <tr>
                    <td><label>제목</label></td>
                    <td><input type="text" name="name" size="50"></td>
                </tr>
                <tr>
                    <td><label>저자</label></td>
                    <td><input type="text" name="email" size="15"></td>
                </tr>
                <tr>
                    <td><label>출판사</label></td>
                    <td><input type="text" name="age" size="30"></td>
                </tr>
            </table>
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>